In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data = pd.read_csv("..//data//Life_Expectancy_Data.csv",sep=",")

In [3]:
# Identify countries with a lot of records
_counts = data['Country'].value_counts()
# Define the threshold for considering a countries to have a lot of records
threshold = 2  
selected_ = _counts[_counts >= threshold].index.tolist()
# Filter the data for selected countries
filtered_data = data[data['Country'].isin(selected_)]
# Split the filtered data into training and testing sets
X_train, X_test = train_test_split(filtered_data, test_size=0.2, random_state=42, stratify=filtered_data['Country'])
#X_test = X_test.drop(columns=['Life expectancy '])
# Saving train and test sets to CSV files
X_train.to_csv('..//data//train.csv', index=False)
X_test.to_csv('..//data//test.csv', index=False)

In [4]:
filtered_data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [7]:
print(selected_)

['Afghanistan', 'Peru', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Philippines', 'Lebanon', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia', 'New Zealand', 'Netherlands', 'Nepal', 'Namibia', 'Liberia', 'Albania', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'The former Yugoslav republic of Macedonia', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Timor-Leste', 'Thailand', 'Saudi Arabia', 'Tajikistan', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Lesotho', 'Libya', 'Latvia', 'China', 'Burundi', "CÃ´te d'Ivoire", 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'Colombia', 'Bulgaria', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Burkina Faso', 'Brunei Darussalam', "Lao People's Democratic Republic", 'Bahrain', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Brazil', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Denmark', 'Djibouti', 'Guinea-Bissau', 'Ireland', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Israel', 'Guatemala', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Guinea', 'Zimbabwe', 'Grenada', 'France', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Greece', 'Finland', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana']

In [8]:
for i in data.columns:
    print( data[i].value_counts(),'\n\n')

Country
Afghanistan              16
Peru                     16
Nicaragua                16
Niger                    16
Nigeria                  16
                         ..
Niue                      1
San Marino                1
Nauru                     1
Saint Kitts and Nevis     1
Dominica                  1
Name: count, Length: 193, dtype: int64


Year
2013    193
2015    183
2014    183
2012    183
2011    183
2010    183
2009    183
2008    183
2007    183
2006    183
2005    183
2004    183
2003    183
2002    183
2001    183
2000    183
Name: count, dtype: int64


Status
Developing    2426
Developed      512
Name: count, dtype: int64


Life expectancy
73.0    45
75.0    33
78.0    31
73.6    28
73.9    25
        ..
43.1     1
49.5     1
49.0     1
55.1     1
45.4     1
Name: count, Length: 362, dtype: int64


Adult Mortality
12.0     34
14.0     30
16.0     29
11.0     25
138.0    25
         ..
666.0     1
675.0     1
654.0     1
633.0     1
665.0     1
Name: count, Length: 425, dtype: int64


infant deaths
0      848
1      342
2      203
3      175
4       96
      ...
171      1
201      1
215      1
253      1
110      1
Name: count, Length: 209, dtype: int64


Alcohol
0.01    288
0.03     15
0.04     13
0.02     12
0.09     12
       ...
4.33      1
7.09      1
5.54      1
3.46      1
4.57      1
Name: count, Length: 1076, dtype: int64


percentage expenditure
0.000000      611
71.279624       1
3.304040        1
218.571618      1
36.816212       1
             ...
352.232365      1
22.690399       1
183.698078      1
218.172747      1
8.717409        1
Name: count, Length: 2328, dtype: int64


Hepatitis B
99.0    240
98.0    210
96.0    167
97.0    155
95.0    149
       ...
15.0      1
12.0      1
32.0      1
11.0      1
19.0      1
Name: count, Length: 87, dtype: int64


Measles
0        983
1        104
2         68
3         44
4         33
        ...
56188      1
44258      1
41144      1
64185      1
1483       1
Name: count, Length: 958, dtype: int64


 BMI
58.5    18
55.8    16
57.0    16
54.2    15
59.9    15
        ..
7.6      1
72.8     1
74.1     1
74.6     1
33.9     1
Name: count, Length: 608, dtype: int64


under-five deaths
0      785
1      361
2      163
4      161
3      129
      ...
330      1
329      1
327      1
326      1
166      1
Name: count, Length: 252, dtype: int64


Polio
99.0    376
98.0    255
96.0    207
97.0    205
95.0    180
       ...
48.0      2
39.0      2
23.0      1
17.0      1
33.0      1
Name: count, Length: 73, dtype: int64


Total expenditure
4.60     15
6.70     12
5.60     11
9.10     10
3.40     10
         ..
12.24     1
12.23     1
13.66     1
9.00      1
3.52      1
Name: count, Length: 818, dtype: int64


Diphtheria
99.0    350
98.0    254
97.0    205
96.0    201
95.0    200
       ...
16.0      1
56.0      1
21.0      1
19.0      1
27.0      1
Name: count, Length: 81, dtype: int64


 HIV/AIDS
0.1     1781
0.2      124
0.3      115
0.4       69
0.5       42
        ...
29.8       1
31.2       1
32.5       1
33.8       1
43.5       1
Name: count, Length: 200, dtype: int64


GDP
584.259210     1
354.818600     1
358.997310     1
43.646498      1
416.148380     1
              ..
4274.376857    1
4142.869175    1
3725.632210    1
2964.477340    1
547.358878     1
Name: count, Length: 2490, dtype: int64


Population
444.0         4
292.0         2
127445.0      2
26868.0       2
1141.0        2
             ..
4136.0        1
482.0         1
43.0          1
3978.0        1
12222251.0    1
Name: count, Length: 2278, dtype: int64


 thinness  1-19 years
1.0     74
1.9     65
0.8     64
0.7     63
1.2     62
        ..
16.5     1
16.7     1
16.9     1
17.1     1
15.8     1
Name: count, Length: 200, dtype: int64


 thinness 5-9 years
0.9     69
1.1     67
0.5     63
1.9     63
1.0     62
        ..
16.9     1
17.2     1
17.4     1
17.6     1
27.9     1
Name: count, Length: 207, dtype: int64


Income composition of resources
0.000    130
0.700     17
0.739     13
0.714     12
0.636     12
        ...
0.933      1
0.930      1
0.925      1
0.347      1
0.460      1
Name: count, Length: 625, dtype: int64


Schooling
12.9    58
13.3    52
12.5    49
12.8    46
12.3    44
        ..
20.7     1
19.8     1
3.4      1
3.6      1
2.8      1
Name: count, Length: 173, dtype: int64